body.html{
    height: 100%;
    margin: 0;
    min-height: 40rem;
    padding: 0;
    padding-top: 4.5rem;
    padding-bottom: 0;
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
}
h1{
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 5rem;
    margin: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.20rem;
}
hr.divider {
    height: 1rem;
    max-width: 5rem;
    margin: 1.5rem auto;
    background-color: #fbfcff;
    opacity: 1;
}
.banner-img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.wrapper, img.banner-image{
    width: 1350px;
    height: 600px;
}

.cover-wrapper {
    width: 100%;
    height: calc(100vh);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    width: 45%;
   
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
   
}

